**.InstallLog
**.Publish.xml
**.ReSharper
**.log
**.publish.xml
**.suo
**.user
*.DS_Store
*.dat
*.favdoc
*.nupkg
*.orig
*.pdb
*.swp
*.userprefs
*.sqlite
*.sqllite
*Debug.config
.vs/
.vscode
/TestResults
/TestResults/*.mdf
/build/deploypw.txt
_NCrunch_**
_ReSharper**
bin/
nCrunchTemp_**
obj/
packages/
publish/
shared-local-instance.db
~/

# this may be a bit heavy-handed, see https://raw.githubusercontent.com/JetBrains/resharper-rider-samples/master/.gitignore
.idea/
